extends layout

block content
    section.container.bg-white
        .row
            .col-md-12
                h1  Welcome to SCT,
                p your #1 stop to learn about Social Cognitive Theory
        .row
            .col-md-6
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item.center-block.text-center(width='560', height='315', src='https://www.youtube.com/embed/bdF65S3MUWI', frameborder='0', allowfullscreen='')
            .col-md-6
                h2 About
                p Social cognitive theory (SCT), used in psychology, education, and communication, holds that portions of an individual's knowledge acquisition can be directly related to observing others within the context of social interactions, experiences, and outside media influences. #[a.sup(href="/refs#1") [1]]

        .row
            .col-md-12
