extends layout

block content
    section.container.bg-white
        .row
            .col-md-12
                h1  Welcome to SCT,
                p your #1 stop to learn about Social Cognitive Theory

        .row#history
            .col-md-12
                h2 History
                p 1941 - Proposed by Neal E. Miller and John, “They presented their book with a revision of Holt's social learning and imitation theory. They argued four factors contribute to learning: drives, cues, responses, and rewards”
                p 1961-1963 Expanded and theorized by Albert Bandura used the Bobo doll experiment to discover reasons behind children aggressive behaviors. SoWith these studies Bandura was able to publish his book in 1977 that furthered the idea of how particular types of behavior was attained, and thus built from Miller and Dollard's research.

        .row#about
            .col-md-6
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item.center-block.text-center(width='560', height='315', src='https://www.youtube.com/embed/bdF65S3MUWI', frameborder='0', allowfullscreen='')
            .col-md-6
                h2 About
                p Social cognitive theory (SCT), used in psychology, education, and communication, holds that portions of an individual's knowledge acquisition can be directly related to observing others within the context of social interactions, experiences, and outside media influences. #[a.sup(href="/refs#1") [1]]
                   
        .row#caseStudies
            .col-md-12

        .row#refs
            .col-md-12
