extends layout

block content
    section.container.bg-white
        .row
            .col-md-12
                h1  Welcome to SCT,
                p your #1 stop to learn about Social Cognitive Theory

        .row#history
            .col-md-12
                h2 History
                p 1941 - Proposed by Neal E. Miller and John, “They presented their book with a revision of Holt's social learning and imitation theory. They argued four factors contribute to learning: drives, cues, responses, and rewards”
                p 1961-1963 Expanded and theorized by Albert Bandura used the Bobo doll experiment to discover reasons behind children aggressive behaviors. SoWith these studies Bandura was able to publish his book in 1977 that furthered the idea of how particular types of behavior was attained, and thus built from Miller and Dollard's research.

        .row#about
            .col-md-12
                .floater
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item.center-block.text-center(src='https://www.youtube.com/embed/bdF65S3MUWI', frameborder='0', allowfullscreen='')
                h2 About
                p Social cognitive theory (SCT), used in psychology, education, and communication, holds that portions of an individual's knowledge acquisition can be directly related to observing others within the context of social interactions, experiences, and outside media influences.

                div.col-lg-6.col-md-12.col-sm-12.mg-tp-1(style="padding: 0;")
                    span.mg-bm-half More simply:
                    hr
                    .row.italic
                        .col-sm-6 #[span.bold Social Cognition] is how people process, store, and apply information about other people and social situations. It focuses on the role that cognitive processes play in our social interactions.
                        .col-sm-6 #[span.bold Social Cognitive Theory:] is observing others within the context of social interactions, experiences, and outside media influences.

        .row
            .col-md-12
                h3 Concepts of Social Cognitive Theory

                ol.mg-lt-1
                    li Environment
                    li Situation
                    li Behavioral Capabilities: such as Knowledge and skill to perform a given behavior
                    li Expectations: Anticipatory outcomes of a behavior
                    li Expectancies: incentives
                    li Self-Control:
                    li Observational Learning: Behavioral acquisition that occurs by watching the actions and outcomes of others’ behavior
                    li Reinforcements: Responses to a person’s behavior that increase or decrease the likelihood of reoccurrence
                    li Self-Efficacy: person’s confidence in performing a particular behavior
                    li Emotional coping responses: Strategies or tactics that are used by a person to deal with emotional stimuli
                    li Reciprocal determinism: The dynamic interaction of the person, the behavior, and the environment in which the behavior is performed

                .italic.quoted.
                    Environment refers to the factors that can affect a person’s behavior. There are social and physical environments. Social environment include family members, friends and colleagues. Physical environment is the size of a room, the ambient temperature or the availability of certain foods. Environment and situation provide the framework for understanding behavior (Parraga, 1990). The situation refers to the cognitive or mental representations of the environment that may affect a person’s behavior. The situation is a person’s perception of the lace, time, physical features and activity (Glanz et al, 2002).
                    The three factors environment, people and behavior are constantly influencing each other. Behavior is not simply the result of the environment and the person, just as the environment is not simply the result of the person and behavior (Glanz et al, 2002). The environment provides models for behavior. 
                    Observational learning occurs when a person watches the actions of another person and the reinforcements that the person receives (Bandura, 1997). The concept of behavior can be viewed in many ways. Behavioral capability means that if a person is to perform a behavior he must know what the behavior is and have the skills to perform it.

                h3 Example
                p A project was started to prevent and reduce alcohol use among students in grades 6 till 12 (ages 11-13). The program took three years and was based on behavioral health curricula, parental involvement and community task force activities. The conclusion was that students were less likely to say they drank alcohol than others who did not join the program. With observational learning, negative expectancies about alcohol use and increased behavioral capability to communicate with parents the results were obtained. However, at the end of the 10th grade the differences were no longer significant.
                p A new program in the 11th grade was started in which reduced access to alcohol and the change of community norms to alcohol use for high-school age students were key elements. With (1) community attention (2) parental education (3) support of alcohol free events (4) media projects to don’t provide alcohol and (5) classroom discussions the program started. After the 12th grade a significant result showed that the alcohol use decreased. Furthermore, the access to alcohol was reduced and the parental norms were less accepting of teen alcohol use at the end of the study.
                p The outcomes of the SCT show that actions of the community level to change these constructs resulted in less drinking among teens. The community level appears to have success in changing the environment and expectancies to alcohol use by reducing teen access to alcohol, changing norms and reducing alcohol use among high school students.
                p Example form Glanz et al, 2002, p 176-177 (summarized)



        .row#refs
            .col-md-12
                h2 References
                ul.list-unstyled.italic
                    li Glanz, K., Rimer, B.K. & Lewis, F.M. (2002). Health Behavior and Health Education. Theory, Research and Practice. San Fransisco: Wiley & Sons.
                    li Bandura, A. (1997). Self-efficacy: The exercise of control. New York: Freeman.
                     li Bandura, A. (2001). Social cognitive theory: An agentive perspective. Annual Review of Psychology, 52, 1-26.
                    li Parraga, I.M. (1990). “Determinants of Food Consumption”. Journal of American Dietetic Association, 90: 661-663.
                    li Bandura, A. (Ed.) (1995). Self-efficacy in changing societies. New York: Cambridge University Press.
                     li Bussey, K., & Bandura, A. (1999). Social cognitive theory of gender development and differentiation. Psychology Review, 106, 676-713.
                     li Graham, S., & Weiner, B. (1996). Theories and principles of motivation. In D. C. Berliner & R. C. Calfee (Eds.). Handbook of educational psychology (pp. 63-84). New York: Simon & Schuster Macmillan.
                    li Pajares, F., & Schunk, D. H. (2001). Self-beliefs and school success: Self-efficacy, self-concept, and school achievement. In R. Riding & S. Rayner (Eds.), Self-perception (pp. 239-266). London: Ablex Publishing.
                    li Schunk, D. H., & Pajares, F. (2002). The development of academic self-efficacy. In A. Wigfield & J. Eccles (Eds.), Development of achievement motivation (pp. 16-31). San Diego: Academic Press.
                    li Bandura, A. & Walters, R.H. (1963). Social Learning and Personality Development. New York: Holt, Rinehart & Winston.
                    li Miller, N.E. & Dollard, J. (1941). Social Learning and Imitation. New Haven, CT: Yale University Press.
